name: CD

on:
  workflow_dispatch:

jobs:
  build:
    uses: vfourny/.github/.github/workflows/build.yml@main
    with:
      is_build: true
      is_type_checked: true
      is_tested: true
  release:
    needs: build
    uses: vfourny/.github/.github/workflows/release.yml@main
    with:
      is_publish: true
      is_build: true
    secrets:
      SEMANTIC_BOT_APP_ID: ${{ secrets.SEMANTIC_BOT_APP_ID }}
      SEMANTIC_BOT_PRIVATE_KEY: ${{ secrets.SEMANTIC_BOT_PRIVATE_KEY }}
