name: CI

on:
  pull_request:
    branches:
      - main
      - next

jobs:
  build:
    uses: vfourny/.github/.github/workflows/build.yml@main
    with:
      is_build: true
      is_type_checked: true
      is_tested: true
